* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkmagenta;
    padding: 10px 20px;
}

.logo a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
}

.search-bar button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #ec3e1f;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-left: 5px;
    cursor: pointer;
}
.sub-navbar {
    background-color: #bd8fb1;
    padding: 15px 30px;
}

.sub-nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.sub-nav-links li {
    margin-left: 15px;
}

.sub-nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
/*@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        margin: 10px 0;
    }
    .sub-nav-links {
        flex-direction: column;
        align-items: center;
    }

    .sub-nav-links li {
        margin: 10px 0;
    }
}
}
*/

